body {
  font-family: "Karla", sans-serif;
  color: rgb(131, 46, 0);
  background-color: rgb(241, 227, 219);
}

.header {
  overflow: hidden;
  padding: 40px 140px;
  display: flex;
}

a.header-link.active, a.header-link {
  float: left;
  color: rgb(45, 45, 45);
  padding: 4px 40px 4px 0px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  font-weight: 700;
  transition: 0.3s;
}

a.header-link.active:hover, a.header-link:hover {
  opacity: 0.2;
  }

h1 {
  text-align: left;
  margin: 40px 0px 20px 0px;
  font-size: 80px;
  font-family: "Playfair Display", serif;
  font-weight: 900;
}

h1.welcome {
  font-size: 90px;
  margin: 80px 180px 20px 160px;
}

h1.profile {
  font-size: 60px;
  margin: 0px 0px 20px 0px;
}

h1.org-profile {
  margin: 0px 0px 20px 0px;
}

h2 {
  font-size: 36px;
  margin: 14px 14px 0px 0px;
  font-family: "Playfair Display", serif;
  font-weight: 900;
}

h2.welcome {
  margin: 60px 200px 120px 160px;
  font-weight: 700;
  font-size: 32px;
  font-family: "Karla", sans-serif
}

h3 {
  font-size: 24px;
  margin: 16px 0px
}

h3.username {
  font-size: 30px
}

h4 {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
  margin: 20px 0px
}

h5 {
  font-size: 22px;
  margin: 12px 0px;
  font-weight: 400;
}

p.results {
  margin: 160px 80px;
  text-align: center;
  font-weight: 900;
}

p {
  font-size: 20px;
  line-height: 26px;
}

a.small-button:link, a.small-button:visited {
  text-decoration: none;
  color: rgb(45, 45, 45);
}

textarea {
  height: 100px;
  width: 30%;
  border-radius: 4px;
  padding: 10px 14px;
  font-size: 14px;
  border: 2px solid rgb(45, 45, 45);
  margin: 20px 0px;
  font-family: "Karla", sans-serif;
  font-size: 18px;
}

input {
  height: 40px;
  width: 30%;
  border-radius: 4px;
  padding: 4px 14px;
  margin: 20px 0px;
  border: 2px solid rgb(131, 46, 0);
  font-family: "Karla", sans-serif;
  font-size: 18px;
  font-weight: 900;
  color: rgb(45, 45, 45);
}

input.filter-input {
  height: 40px;
  width: 80%;
  border-radius: 4px;
  padding: 4px 14px;
  font-size: 18px;
  border: 2px solid rgb(131, 46, 0);
  font-family: "Karla", sans-serif;
  font-size: 18px;
  font-weight: 900;
  color: rgb(45, 45, 45);
}

input.submit-button {
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  padding: 12px 14px;
  background-color: rgb(45, 45, 45);
  color: white;
  border: none;
  margin: 14px 0px;
  width: 14%
}

::placeholder {
  color: rgb(131, 46, 0, 0.5);
}

form {
  margin-top: 40px
}

button {
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  padding: 12px 14px;
  background-color: rgb(45, 45, 45);
  color: white;
  border: none;
  margin: 14px 0px
}

button.small-button {
  font-size: 16px;
  padding: 10px 10px;
  background-color: rgb(255, 248, 238);
  color: rgb(45, 45, 45);
  border: 2px solid rgb(45, 45, 45);
}

button.filter-button {
  font-size: 16px;
  padding: 10px 16px;
  background-color: rgb(131, 46, 0);
  color: white;
}

.btn-group button:not(:last-child) {
  margin-right: 12px
}

.filter {
  border-radius: 6px;
  padding: 30px;
  text-align: left;
  margin: 80px;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.1);
  background-color: rgb(255, 252, 248);
}

.org-container {
  padding: 40px;
  margin: 80px;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgb(255, 252, 248);
  border-radius: 6px;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.1);
}

.org-tile {
  flex: 0 1 28%;
  background-color: rgb(131, 46, 0);
  color: white;
  border-radius: 6px;
  padding: 24px;
  margin: 0px 0px 30px 0px;
  break-inside: avoid;
  transition: 0.3s;
}

.org-tile:hover {
  background-color: rgb(45, 16, 0);
  /* box-shadow: 0 2px 8px 0 rgba(87, 38, 0, 0.5); */
  color: rgb(237, 220, 201);
}

.org-tile:nth-child(odd) {
  background-color: rgb(32, 32, 133);
  color: white;
}

.org-tile:nth-child(odd):hover {
  background-color: rgb(0, 0, 40);
  /* box-shadow: 0 2px 8px 0 rgba(0, 0, 87, 0.5); */
  color: rgb(212, 212, 236);
}

/* 
.org-tile {
  flex: 0 1 28%;
  background-color: rgb(247, 234, 227);
  border: 2px solid rgb(136, 48, 0);
  color: rgb(94, 41, 0);
  border-radius: 6px;
  padding: 24px;
  margin: 0px 0px 30px 0px;
  break-inside: avoid;
}

.org-tile:nth-child(odd) {
  background-color: rgb(226, 226, 237);
  border: 2px solid #1F2079;
  color: #1F2079;
} */

label {
  font-weight: 700;
  font-size: 18px;
}

div.user-info {
  background-color: rgb(255, 252, 248);
  border-radius: 6px;
  padding: 40px;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.1);
}

div.donations {
  background-color: rgb(255, 252, 248);
  border-radius: 6px;
  margin: 40px 0px;
  padding: 20px;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.1);
}

select {
  height: 54px;
  width: 32%;
  border-radius: 4px;
  padding: 4px 14px;
  margin: 20px 0px;
  font-family: "Karla", sans-serif;
  font-size: 18px;
  border: 2px solid rgb(131, 46, 0);
  font-weight: 900;
  color: rgb(45, 45, 45);
}

p.description {
  padding: 0px 30px
}

div.container {
  padding: 30px 140px
}

div.received-challenges, div.send-challenge {
  padding: 0px 30px;
  margin-bottom: 80px;
}

div.tag {
  font-weight: 900;
  margin: 0px 14px 0px 0px;
  border-radius: 4px;
  background-color: white;
  color: rgb(131, 46, 0);
  text-align: center;
  padding: 10px 20px
}

div.tag-container {
  display: flex;
  margin-bottom: 20px;
}

div.org-header {
  margin-bottom: 80px;
}

div.org-body {
  border-radius: 6px;
  padding: 30px;
  text-align: left;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.1);
  background-color: rgb(255, 252, 248);
}